nav{
    background-color: black;
    padding: 0px;
    height: 70px;
}
nav div{
    display: inline-block;
}
nav div:first-child{
    margin-left:70px;
    margin-top:20px;
}
nav div img{
    width: 100px;
}
.line{
  border-left: 1px solid #ffffff;
  height: 50px;
  top: 5px;
  position : relative;
  left: 70px;
}
li{
    color: #fff;
    display: inline;
}
.list{
    position: relative;
    bottom: 10px;
    font-family: Poppins;
    left: 150px;
}
.list-item{
    margin: 20px;
}
section:last-child{
    background-image: url(./assets/bg.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin:0px;
}

.button-small{
 position:relative;
 left:500px;
 width: 130px;
 bottom:13px;
 height: 40px;
 font-style:Poppins;
 font-weight: 350; 
 font-size:15px;
 border-radius: 10px;
 color:#fff;
 background-color: #c64ad1;
}
.hero{
    position:relative;
}
.hero-heading{
    margin:0px;
    color:#fff;
    font-family: Montserrat;
    text-align: center;
    font-size:90px;
    position: relative;
    top:180px;
    width: 70%; 
    left:280px
}
.hero-description{
    margin:0px;
    color:#fff;
    font-family: Montserrat;
    font-size: 32px;
    position : relative;
    text-align: center;
    top:190px;
    /* left:10px; */
}
.button-large{
    background-color: #c64ad1; 
    padding:10px 20px;
    color: #fff;
    border-radius:5px;
    border: 0px;
    font-size: 25px;
    font-family: Montserrat;
    position: relative;
    top:270px;
    left:600px
}